<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <div class="registration-container">
        <p class="registration-title">Registrate</p>
        <div class="form-field">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Nombre">
        </div>
        <div class="form-field">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Apellido">
        </div>
        <div class="form-field">
            <label for="correo">Correo</label>
            <input type="email" id="correo" placeholder="Correo">
        </div>
        <div class="form-field">
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" placeholder="Contraseña">
        </div>
        <div class="form-field">
          <label for="contrasena">Confirmar Contraseña</label>
          <input type="password" id="contrasena" placeholder="Contraseña">
      </div>
        <button class="registration-button">
            Registrar
        </button>
    </div>
</body>
</html>
