<header>
  <nav class="container">
    <div class="row">
      <div class="union">
        <div class="logo_img">
          <img class="logo_header" src="assets/img/logo.jpg" alt="">
        </div>
        <div class="search-container">
          <input type="text" placeholder="Buscar..." />
          <i class="fas fa-search search-icon"></i>
        </div>
        <div class="carrito">
          <button class="btn btn-carrito" [routerLink]="['/checkout']">
            <i class="fa-solid fa-cart-shopping icon_carrito"></i>
          </button>
        </div>
        <div class="user">
          <button class="btn-user" [routerLink]="['/auth']">
            <i class="fa-solid fa-user icon_user"></i>
          </button>
        </div>
        <div class="logout" *ngIf="userName">
          <button class="btn-logout" (click)="onLogout()">
            <i class="fa-solid fa-right-from-bracket icon_logout"></i>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<nav class="navbar">
  <div class="links-left">
    <a href="#" [routerLink]="['/']">Home</a>
    <a href="#" [routerLink]="['/catalogo']">Catálogo</a>
    <a href="#">Ayuda</a>
    <a href="#" *ngIf="userName" [routerLink]="['/misordenes']">Mis Órdenes</a>
    <a *ngIf="userName" href="#">Hola, {{ userName }}</a>

  </div>
</nav>

<div class="checkout-container">
  <div class="row-c">
    <div class="col-8">
      <h2>Cart Checkout</h2>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carrito; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.producto.nombre }}</td> <!-- Usando item.producto.nombre -->
            <td>Q {{ item.producto.precio * item.cantidad }}</td> <!-- Calcula el precio total por cantidad -->
            <td>
              <button (click)="decrementarCantidad(item)">-</button>
              <span>{{ item.cantidad }}</span>
              <button (click)="incrementarCantidad(item)">+</button>
            </td>
            <td>
              <button (click)="eliminarDelCarrito(item)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>


      </table>
      <h3>Total a Pagar: Q {{ totalAPagar }}</h3>
    </div>

    <div class="col-4">
      <div class="payment-panel">
        <h3>Detalles de la Tarjeta</h3>
        <div class="form-group">
          <label for="card-name">Nombre en la tarjeta</label>
          <input id="card-name" type="text" class="form-control" placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="card-number">Número de Tarjeta</label>
          <input id="card-number" type="text" class="form-control" placeholder="0000 0000 0000 0000" maxlength="16">
        </div>

        <div class="form-group row">
          <div class="col-6">
            <label for="card-expiry">Fecha de Expiración</label>
            <input id="card-expiry" type="text" class="form-control" placeholder="MM/YY" maxlength="5">
          </div>
          <div class="col-6">
            <label for="card-cvv">CVV</label>
            <input id="card-cvv" type="text" class="form-control" placeholder="CVV" maxlength="3">
          </div>
        </div>

        <hr>

        <h4>Total a Pagar: Q {{ totalAPagar }}</h4>

        <button class="btn btn-danger btn-block" (click)="ordenar()">Ordenar</button>

        <div class="mt-3">
          <div *ngIf="ordenExitosa" class="mensaje-exito">
            <p>¡Orden realizada con éxito!</p>
            <p>No. de orden: {{ ordenId }}</p>
            <button (click)="cerrarMensaje()">Cerrar</button>
          </div>

          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
