.logo_header {
  width: 100%;
  height: 150px;
}

.union {
  display: flex; /* Unir en la misma fila */
}

.logo_img {
  width: 18%;
}

.search-container {
  position: relative;
  width: 60%;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border-radius: 20px;
  margin-top: 11%;
  margin-left: 5%;
}

.search-icon {
  position: absolute;
  left: 50px;
  top: 70%;
  transform: translateY(-50%);
}

.carrito {
  width: 4%;
  margin-left: 6%;
}

.btn-carrito {
  width: 100%;
  border: none;
  margin-top: 170%;
  background: transparent;
  color: #df3e46;
  font-size: 30px;
}

.user {
  width: 4%;
}

.btn-user {
  width: 100%;
  border: none;
  margin-top: 170%;
  background: transparent;
  color: #df3e46;
  font-size: 30px;
}

.hamburguesa {
  width: 4%;
}

.btn_hamburguesa {
  width: 100%;
  border: none;
  margin-top: 170%;
  background: transparent;
  color: #df3e46;
  font-size: 30px;
}

.menu_nav {
  position: relative;
  left: 20%;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.menu_nav ul {
  justify-content: center;
}

.menu_nav ul a {
  width: 100%;
  height: 50px;
  margin-right: 2%;
  list-style: none;
  text-align: center;
  justify-content: center;
  border-radius: 0.5em;
  text-decoration: none;
}

.link {
  text-align: center;
  color: black;
  padding-top: 2%;
}

.link:hover {
  color: black;
}

.rojo {
  padding-top: 2%;
  background-color: #df3e46;
  color: white;
}

.rojo:hover {
  color: white;
}

.container_imghome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img_page {
  max-width: 100%;
  height: auto;
  margin-top: 3%;
}

/* Contenedor de logos */
.card_logos {
  display: flex;
  justify-content: space-between; /* Espacio equitativo entre los logos */
  align-items: center;
  margin-top: 2%;
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  flex-wrap: wrap; /* Esto asegura que los logos se reorganicen en pantallas más pequeñas */
}

.card_logos .col-md-3 {
  flex: 1; /* Distribuye los logos de manera equitativa */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_logos img {
  max-width: 80%; /* Ajusta los logos a un tamaño razonable */
  height: auto;
  margin: 10px;
}

.card_right {
  border-right: none; /* Elimina la línea divisoria si ya no es necesaria */
}

/* Responsividad */
@media (max-width: 991px) {
  .search-icon {
    left: 35px;
    top: 50%;
  }

  .card_logos {
    justify-content: center; /* En pantallas pequeñas, centra los logos */
  }

  .card_logos img {
    max-width: 60%; /* Reduce el tamaño de los logos en pantallas pequeñas */
  }
}

/* Ajustes adicionales para pantallas más pequeñas */
@media (max-width: 1399px) {
  .search-icon {
    left: 40px;
    top: 69%;
  }
}

@media (max-width: 1199px) {
  .search-icon {
    left: 38px;
    top: 62%;
  }
}
